#model {
    .flex {
        display: flex;
        justify-content: space-between;
    }
    #page-1 {
        a {
            text-decoration: none;
            color: black;
        }
        scroll-snap-align: center;
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8a74d206-66dc-4386-8c7a-88ff32174e7d/bvlatuR/std/4096x2560/Model-S-Main-Hero-Desktop-LHD);
        background-size: cover;
        background-position: bottom;
        height: 100vh;

        #top {
            z-index: 3;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            width: 100%;
            .logo {
                padding-left: 30px;
                font-size: larger;
                font-family: tesla;
                letter-spacing: 10;
            }
            .menu-primary {
                display: flex;
                .sec-menu {
                    cursor: pointer;
                    padding-top: 3px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
                        sans-serif;
                    font-weight: 500;
                }
            }
            .menu-secundary {
                display: flex;
                .sec-menu {
                    cursor: pointer;
                    padding-top: 3px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
                        sans-serif;
                    font-weight: 500;
                }
            }
            .sec-menu:hover {
                background: rgba(94, 94, 94, 0.349);
                border-radius: 2px;
            }
        }
        #type-vehicle {
            margin-top: 280px;
            color: black;
            font-size: 50px;
            font-weight: 600;
            text-align: center;
            #test-drive-link {
                font-size: 15px;
                font-weight: 400;
            }
        }
        .top-footer {
            width: 70%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            margin-top: 10vh;
            .sec-box {
                padding: 2px;
                width: 100%;
                text-align: center;
                .text-1 {
                    color: aliceblue;
                    font-size: 30px;
                    font-weight: 600;
                }
                .text-2 {
                    color: aliceblue;
                    font-size: 15px;
                    font-weight: 600;
                }
                button {
                    background: rgba(255, 255, 255, 0);
                    border: solid 4px white;
                    border-radius: 4px;
                    color: white;
                    width: 100%;
                    padding: 5px;
                    margin-top: 10%;
                }
            }
        }
    }
    .shadow-black {
        background: rgb(0, 0, 0);
        height: 200px;
        z-index: 2;
        width: 100%;
        color: white;
        text-align: center;
        padding-top: 100px;
        font-size: xx-large;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 600;
    }
    .boddy {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/c0c475f7-2856-46e1-87ab-dd67ec8dd43f/bvlatuR/std/2880x1800/MS-Interior-Hero-Desktop);
        height: 100%;
        background-size: cover;
    }
    .video {
        background: black;
        padding: 100px;
        width: 100%;
        padding-top: 0%;
        text-align: center;
        iframe {
            width: 100%;
            height: 100%;
        }
        .legend {
            text-align: start;
            width: 60%;
            margin: auto;
            .title-video {
                font-size: 20px;
                font-weight: 700;
                padding: 20px;
                color: white;
            }
            .legend-video {
                color: white;
            }
        }
    }
    .box {
        margin: auto;
        width: 80%;
    }
    .boddy-1 {
        width: 100%;
        margin: auto;
        background: black;
        padding-bottom: 100px;
        .line-1 {
            background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/180e927c-0542-4428-beb7-1411502fe3bb/bvlatuR/std/1040x584/MS-Interior-Grid-A-Desktop);
            background-size: cover;
            height: 300px;
            width: 100%;
            padding: 10px;
        }
        .line-text-1 {
            padding: 50px;
            text-align: start;
            padding-top: 110px;
            color: white;
            font-size: medium;
            .title-video {
                font-size: 20px;
                padding-bottom: 10px;
            }
        }
        .line-2 {
            width: 100%;
            iframe {
                height: 300px;
                width: 100%;
            }
        }
        .line-3 {
            width: 100%;
            background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ab165f41-fa4e-4abe-b82a-51bdc295cf42/bvlatuR/std/1040x584/MS-Interior-Grid-D-Desktop);
        }
    }
    .boddy-2 {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/08585f00-c0b7-4bda-80e4-2b78406b5582/bvlatuR/std/4096x2560/Model-S-Performance-Hero-Desktop-LHD);
        background-position: center;
        background-size: cover;
        height: 60%;
        width: 100%;
        .caixa {
            width: 70%;
            margin: auto;
            padding-top: 220px;
            .text-1 {
                color: white;
                font-size: x-large;
                font-weight: 700;
            }
            .text-2 {
                color: white;
                font-size: 10psx;
                font-weight: 600;
            }
        }
    }
    .boddy-3 {
        .container {
            width: 80%;
            margin: auto;
            .box-1 {
                width: 40%;
                padding: 60px;
                .text-1 {
                    font-size: 15px;
                }
                .text-2 {
                    font-size: 25px;
                }
                button {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    width: 80%;
                    padding: 4px;
                    font-weight: 400;
                    border-radius: 5px;
                }
                a {
                    background: rgb(217, 217, 217);
                    color: black;
                    font-size: 12px;
                    text-decoration: none;
                    padding: 6px 60px 6px 60px;
                }
            }
            .box-2 {
                width: 60%;
                padding-top: 80px;
            }
        }
        .container-1 {
            background: rgb(221, 221, 221);
            padding-top: 150px;
            padding-left: 250px;
            padding-right: 250px;
            padding-bottom: 100px;
            .text-1 {
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            .text-2 {
                color: rgb(69, 69, 69);
            }
        }
        .container-2 {
            background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/a4207386-4e7d-4028-924c-f7f21a0781b4/bvlatuR/std/1920x900/model-s-performance-tri-motor-desktop_carousel-new);
            background-size: cover;
            height: 100vh;
        }
        .container-3 {
            width: 85%;
            margin: auto;
            padding-top: 100px;
            .box-1 {
                padding: 30px;
                width: 47%;
                .text-1 {
                    height: 3px;
                    width: 100%;
                    margin: auto;
                    background: black;
                    margin-bottom: 10px;
                    margin-right: 10px;
                }
                .text-2 {
                    font-size: 20px;
                    color: black;
                    margin-bottom: 10px;
                }
            }
            .box-1:hover {
                background: rgb(233, 233, 233);
            }
            .box-2 {
                padding: 30px;
                width: 47%;
                .text-1 {
                    height: 3px;
                    width: 100%;
                    margin: auto;
                    background: black;
                    margin-bottom: 10px;
                }
                .text-2 {
                    font-size: 20px;
                    color: black;
                    margin-bottom: 10px;
                }
            }
            .box-2:hover {
                background: rgb(233, 233, 233);
            }
        }
        .container-4 {
            background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/1981e29b-2ce8-4620-9c6a-fe1eaf005656/bvlatuR/std/3456x2160/Model-S-Exterior-Hero-Desktop-Global);
            background-position: center;
            background-size: cover;
            height: 60%;
            width: 100%;
            margin-top: 100px;
        }
        .container-5 {
            background: black;
            width: 100%;
            padding-left: 150px;
            padding-right: 150px;
            .box-1 {
                width: 40%;
                padding: 60px;
                .text-1 {
                    font-size: 25px;
                    color: aliceblue;
                }
                .text-2 {
                    font-size: 28px;
                    color: aliceblue;
                    font-weight: 600;
                }
                button {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    width: 80%;
                    color: white;
                    background: black;
                    padding: 4px;
                    font-weight: 400;
                    border: solid white 4px;
                }
                a {
                    background: rgb(119, 119, 119);
                    color: rgb(252, 252, 252);
                    font-size: 20px;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 6px 60px 6px 60px;
                }
            }
            .box-2 {
                color: aliceblue;
                font-weight: 500;
                width: 60%;
                padding-top: 140px;
            }
        }
        .container-6 {
            width: 100%;
            margin: auto;
            background: black;
            padding-bottom: 100px;
            .line-1 {
                background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/fe86a447-03fe-43ce-bf53-daff2a81210d/bvlatuR/std/3949x2217/Model-S-Exterior-Grid-A-Desktop-Global);
                background-size: cover;
                height: 300px;
                width: 100%;
                padding: 10px;
            }
            .line-text-1 {
                padding: 50px;
                text-align: start;
                width: 100%;
                padding-top: 110px;
                color: white;
                font-size: medium;
                .title-video {
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }
            .line-2 {
                height: 300px;
                width: 100%;
                background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/1020d97e-9a6f-4932-9914-0ce889ecfaa6/bvlatuR/std/3840x2156/Model-S-Exterior-Grid-B-Desktop-Global);
                background-size: cover;
            }

            .line-3 {
                height: 300px;
                width: 100%;
                background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/b592fbac-9ccd-4951-94b8-f5c5157dfe5b/bvlatuR/std/3657x2039/Model-S-Exterior-Grid-C-Desktop-Global);
                background-size: cover;
            }
        }
        .container-7 {
            display: flex;
            .box-1 {
                width: 70%;
                iframe {
                    height: 100vh;
                    width: 100%;
                }
            }
            .box-2 {
                width: 30%;
                padding: 40px;
                .text-1 {
                    margin-top: 50px;
                    color: black;
                    font-size: 20px;
                    font-weight: 400;
                }
                .text-2 {
                    font-size: 35px;
                    margin-top: 5px;
                }
                .text-3 {
                    margin-top: 20px;
                    color: rgb(90, 90, 90);
                    font-weight: 400;
                }
                button {
                    margin-top: 200px;
                    width: 100%;
                    padding: 4px;
                    border-radius: 3px;
                }
                .text-4 {
                    text-decoration: none;
                    color: rgb(105, 105, 105);
                    text-align: center;
                    margin-top: 5px;
                    padding: 5px;
                    font-weight: 500;
                    background: rgb(239, 239, 239);
                }
            }
        }
        .container-8 {
            margin-top: 50px;
            text-align: center;
            button {
                background: white;
                margin-top: 50px;
                width: 200px;
                font-weight: 500;
                padding: 5px;
                border-radius: 3px;
                margin-bottom: 50px;
            }
        }
        .container-9 {
            display: flex;
            justify-content: space-between;

            .box-1 {
                width: 30%;
                padding: 40px;

                .text-1 {
                    margin-top: 50px;
                    color: black;
                    font-size: 20px;
                    font-weight: 400;
                }
                .text-2 {
                    font-size: 35px;
                    margin-top: 5px;
                }
                .text-3 {
                    margin-top: 20px;
                    color: rgb(90, 90, 90);
                    font-weight: 400;
                }
                button {
                    margin-top: 200px;
                    width: 100%;
                    padding: 4px;
                    background: white;
                    font-size: 20;
                    font-weight: 600;
                    border-radius: 5px;
                }
                .text-4 {
                    text-decoration: none;
                    color: rgb(67, 67, 67);
                    text-align: center;
                    margin-top: 5px;
                    padding: 5px;
                    font-weight: 500;
                    background: rgb(239, 239, 239);
                }
            }
            .box-2 {
                height: 100vh;
                width: 70%;
                background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/d9cf0882-127e-406a-9f2d-a599c5988bd8/bvlatuR/std/3840x2160/Model-S-Safety-Hero-Desktop-Global);
                background-size: cover;
                background-position: center;
            }
        }
        .container-10 {
            background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/c960989c-3359-4caf-8cc7-afb07c372d6f/bvlatuR/std/4096x2560/Autopilot-Hero-Vision-Desktop);
            background-size: cover;
            background-position: center;
            height: 500px;
            .box-1 {
                padding-top: 70px;
                padding-left: 70px;
                width: 3 0%;
                .text-1 {
                    font-weight: 600;
                    font-size: 30px;
                }
            }
        }
        .container-11 {
            display: flex;
            height: 100vh;
            width: 100%;
            .box-1 {
                width: 50%;
                background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/649c549e-12b4-40c6-9294-7e996b8d3ccb/bvlatuR/std/4096x3071/Model-S-Specs-Hero-Desktop-LHD);
                background-size: cover;
                background-position: center;
            }
            .box-2 {
                width: 50%;
                background: black;
                .text-1 {
                    color: aliceblue;
                    margin-top: 50px;
                    padding-left: 30px;
                    font-size: 30px;
                    font-weight: 600;
                    span {
                        font-weight: 300;
                    }
                }
                .btn {
                    padding-left: 30px;
                    display: flex;
                    .text-01 {
                        color: rgb(208, 208, 208);
                        font-size: 16px;
                        width: 30%;
                        margin-top: 20px;
                        border-radius: 5px;
                        margin-right: 5px;
                        border: solid rgb(216, 216, 216) 2px;
                    }
                }
                .box-3 {
                    width: 100%;
                    display: flex;
                    padding: 30px;
                    .list {
                        width: 50%;
                        justify-content: space-between;
                        .box-1 {
                            background: black;
                            .line {
                                height: 1;
                                background: white;
                                width: 50px;
                                margin-top: 8px;
                                margin-bottom: 8px;
                            }
                            .text-1 {
                                padding: 0%;
                                margin-top: 5%;
                                font-size: 15px;
                            }
                            .text-2 {
                                color: rgb(232, 232, 232);
                            }
                        }
                    }
                }
            }
        }
        .container-12 {
            text-align: center;
            background: black;
            color: white;
            padding-top: 50px;
            font-size: 15px;

            .box-1 {
                margin: auto;
                padding: 3px;
                width: 170px;
                border: solid white 2px;
                border-radius: 5px;
                margin-bottom: 50px;
            }
            .box-2 {
                height: 400px;
                display: flex;
                width: 100%;
                .line-1 {
                    width: 50%;
                    background: white;
                    .text-1 {
                        color: black;
                        text-align: start;
                        margin-left: 150px;
                        margin-top: 150px;
                        font-size: 35px;
                        font-weight: 600;
                    }
                    .flex-1{
                        display: flex;
                        margin-top: 20px;
                        .btn-1{
                            color: black;
                            font-size: 20px;
                            width: 200px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            border:solid 2px black;
                            border-radius: 5px;
                            margin-left: 150px;
                        }
                        .btn-2{
                            margin-left: 15px;
                            width: 200px;
                            font-size: 20px;
                            font-weight: 500;
                            color: black;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            background-color: rgb(232, 232, 232);
                        }
                    }
                }
                .line-2 {
                    width: 50%;
                    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/e00bf240-9973-494f-a217-786b736d8dde/bvlatuR/std/3840x2128/Model-S-Order-Hero-Desktop-Mobile-Global);
                    background-position: center;
                    background-size: cover;
                }
            }
            .box-3{

                text-align: center;
                background: white;
                color: black;
                padding: 200px;
                padding-left: 300px;
                padding-right: 300px;
            }
            .box-4{
                text-align: center;
                background: white;
                color: black;
                padding: 30px;
                padding-left: 300px;
                padding-right: 300px;
            }
        }
    }
}
